* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background: linear-gradient(
		90deg,
		rgba(241, 238, 10, 1) 0%,
		rgba(231, 126, 35, 1) 100%
	);
	display: flex;
	justify-content: center;
	align-items: center;
}

input {
	width: 100%;
	padding: 20px;
	border: 2px solid;
	border-radius: 10px;
	font-size: 20px;
	background-color: #6cb4ee;
	color: purple;
}

.search-container {
	width: 500px;
	height: 30px;
	padding: 0px;
}
.search-container input,
.search-container .suggestions {
	/* TODO */
}
.search-container input {
}
.search-container .suggestions {
	/* TODO */
}

ul {
	list-style-type: none;
	/* TODO */
}
ul.has-suggestions {
	/* TODO */
}
ul li {
	text-decoration: none;
	width: 100%;
	height: auto;
	padding: 5px;
	border: 1px solid;
	border-radius: 10px;
	font-size: 20px;
	background-color: cornflowerblue;
	/* TODO */
}
ul li:hover {
	color: orange;
	background-color: #5a4fcf;
	/* TODO */
}

input:focus {
	outline-style: none;
	box-shadow: none;
}

input {
	/* TODO */
}
